<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-gray-100">
        <nav class="flex items-center justify-between  px-4">
            <a class="text-white text-lg font-bold" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <partial name="_LoginPartial" />
        </nav>
    </header>


    <div>
        @{
            var path = Context.Request.Path;
            Console.WriteLine(path);
        }

        @if (!path.Equals("/Identity/Account/Login") & !path.Equals("/Identity/Account/Register") )
        {
            <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">

                @*    this is the side bar div*@

                <div class="flex grow flex-col gap-y-3 overflow-y-auto bg-cyan-950 ">

                    <div>
                        <img class="h-24 w-auto " src="/Images/Solutionslogo.png" alt="Your Company">
                    </div>

                    <nav class="flex flex-1 flex-col px-6 pb-4">
                        <ul role="list" class="flex flex-1 flex-col gap-y-1">
                            <li>
                                <ul role="list" class="-mx-2 space-y-1 ">
                                    <li>
                                        <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->
                                        <a href="@Url.Action("Dashboard","Home")" class=" @(ViewBag.ActivePage == "Dashboard" ? "bg-gray-500" : "") text-white  hover:bg-gray-500 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25" />
                                            </svg>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CybersecurityGoverence","Home")" class="@(ViewBag.ActivePage == "CyberSecurityGoverence" ? "bg-gray-500" : "") text-white hover:bg-gray-500  group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"  fill="none" viewBox="0 0 16 20">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 17V2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H3a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M5 15V1m8 18v-4" />
                                            </svg>
                                            Cybersecurity Governance
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CybersecurityDefense","Home")" class="@(ViewBag.ActivePage == "CybersecurityDefense" ? "bg-gray-500" : "") text-white hover:bg-gray-500  group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                                            </svg>
                                            Cybersecurity Defense
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("cybersecurityResilience","Home")" class="@(ViewBag.ActivePage == "CybersecurityResilience" ? "bg-gray-500" : "") text-white hover:bg-gray-500 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                                <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z" />
                                            </svg>
                                            Cybersecurity Resilience
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ThirdPartyCybersecurity","Home")" class="@(ViewBag.ActivePage == "ThirdPartyCybersecurity" ? "bg-gray-500" : "") text-white hover:bg-gray-500 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
                                                <path d="M14 19v-5h2v6.988H0V14h1.98v5H14Z" />
                                                <path d="m3.84 13.522 8.73 1.825.369-1.755-8.73-1.825-.369 1.755ZM4.995 9.2l8.083 3.763.739-1.617L5.734 7.56 4.995 9.2Zm3.372-5.482L7.235 5.08l6.859 5.704 1.132-1.362-6.859-5.704ZM12.57 16H3.655v2h8.915v-2ZM9.861 2.111l6.193 6.415 1.414-1.415-6.43-6.177-1.177 1.177Z" />
                                            </svg>

                                            Third-Party Cybersecurity
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CloudComputingCybersecurity","Home")" class="@(ViewBag.ActivePage == "CloudComputingCybersecurity" ? "bg-gray-500" : "") text-white hover:bg-gray-500  group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
                                            </svg>
                                            Cloud Computing Cybersecurity
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ICSCybersecurity","Home")" class="@(ViewBag.ActivePage == "ICSCybersecurity" ? "bg-gray-500" : "") text-white hover:bg-gray-500 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                            <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                                            </svg>
                                            Industrial Control Systems (ICS) Cybersecurity
                                        </a>
                                    </li>

                                </ul>
                            </li>


                            <li class="mt-auto">
                                <a href="@Url.Action("Team","Home")" class="@(ViewBag.ActivePage == "Team" ? "bg-gray-500" : "") text-white hover:bg-gray-500 group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 ">
                                    <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                                    </svg>
                                    Team
                                </a>
                            </li>


                            <li>
                                <a href="@Url.Action("Settings","Home")" class="@(ViewBag.ActivePage == "Settings" ? "bg-gray-500" : "") text-white hover:bg-gray-500 group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 ">
                                    <svg class="h-6 w-6 shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }

        @if (path.Equals("/Settings/General") | path.Equals("/Settings/Account") | path.Equals("/Settings/Plan") | path.Equals("/Settings/Security") | path.Equals("/Settings/Notification") | path.Equals("/Home/Settings"))
        {
            <div class="ml-72">
                <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-80 lg:flex-col">

                    <div class="mt-40 ml-2">
                        <ul role="list" class="divide-y divide-gray-100 w-72 bg-gray-50">

                            <li class="p-1">
                                <a href="@Url.Action("General","Settings")" class="  @(ViewBag.ActivePage == "General" ? "bg-gray-500 text-white" : "") text-black group block max-w-xs mx-auto rounded-lg p-6 space-y-3 font-bold leading-6 hover:bg-gray-500 hover:text-white">
                                    <div class="flex gap-x-4">
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
                                        </svg>
                                        General
                                    </div>
                                </a>
                            </li>

                            <li class="p-1">
                                <a href="@Url.Action("Account","Settings")" class="  @(ViewBag.ActivePage == "Account" ? "bg-gray-500 text-white" : "") text-black group block max-w-xs mx-auto rounded-lg p-6 space-y-3 font-bold leading-6 hover:bg-gray-500 hover:text-white">
                                    <div class="flex gap-x-4">
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5" />
                                        </svg>
                                        Account
                                    </div>
                                </a>
                            </li>

                            <li class="p-1">
                                <a href="@Url.Action("Security","Settings")" class="  @(ViewBag.ActivePage == "Security" ? "bg-gray-500 text-white" : "") text-black group block max-w-xs mx-auto rounded-lg p-6 space-y-3 font-bold leading-6 hover:bg-gray-500 hover:text-white">
                                    <div class="flex gap-x-4">
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                                        </svg>
                                        Security
                                    </div>
                                </a>
                            </li>

                            <li class="p-1">
                                <a href="@Url.Action("Plan","Settings")" class="  @(ViewBag.ActivePage == "Plan" ? "bg-gray-500 text-white" : "") text-black group block max-w-xs mx-auto rounded-lg p-6 space-y-3 font-bold leading-6 hover:bg-gray-500 hover:text-white">
                                    <div class="flex gap-x-4">
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                                        </svg>
                                        Plan & Billing
                                    </div>
                                </a>
                            </li>

                            <li class="p-1">
                                <a href="@Url.Action("Notification","Settings")" class="  @(ViewBag.ActivePage == "Notification" ? "bg-gray-500 text-white" : "") text-black group block max-w-xs mx-auto rounded-lg p-6 space-y-3 font-bold leading-6 hover:bg-gray-500 hover:text-white">
                                    <div class="flex gap-x-4">
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
                                        </svg>
                                        Notification
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        }






        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>


</script>